
<div  class="features" style="padding-top: 70px; ">
        <div class="col-lg-4 text-center">
            <div class="single-fet">
                
<div>
<span class="icon-stack icon-4x">
<a href="/SeniorFrontEnd/#/scan#partialsDiv" ><img   src="images/icon1.png"/></a>
</span>
                </div>
                <h2>Scan (Single) IP Address</h2>

                <p>By this service you are able to scan IP addresses for the recent exploits and discover the available domains then we scan it for you ..</p>

            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="single-fet">
                <div>
                <span class="icon-stack icon-4x">
<a href="/SeniorFrontEnd/#/history#partialsDiv" > <img  src="images/icon2.png"/></a>
</span>
                </div>
                <h2>History Details</h2>

                <p>Here you can see your previous scans from our database ..</p>

            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="single-fet">
                <div>
                <span class="icon-stack icon-4x">
<a href="/SeniorFrontEnd/#/nmapscan#partialsDiv"><img  src="images/icon3.png"/></a>
</span>
                </div>
                <h2>Scan (Multi) IP <span class="label label-warning">Using Nmap</span></h2>

                <p>Here you are able to scan a multiple IP addresses then select UP hosts to perform the advanced scan ..</p>
</div> 

            
         
        </div>

    </div>